/* There is nothing here... */
h1 {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 2.5rem; 
    letter-spacing: 0.2rem
}

h2 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  /* color: black; */
}

/* form */
form{
    text-align: center;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    font-family: 'Source Sans 3';

}
.sub {
width: 100%;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}


/* footer */
footer {
    margin: 0;
    padding: 0;

}
footer ul  {
    list-style-type: none;
    Display: flex;
    Flex-direction: row;
}

.social-and-list2 {
    display: flex;
    justify-content: space-between;
}

