html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 60px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headers {
    background-color: #173583;
    padding: 20px 0;
    width: 100%;
    color: #F9FCFB;
}


h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.2rem
}

h2 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.button {
    font-family: 'Montserrat', sans-serif;
}

.logo img {
    width: auto;
    height: 4em;
    display: inline-block;
    max-height: 100%;
}

.logo, .navbar {
    display: flex;
    align-items: center;
}

.navbar li {
    font-family: 'Montserrat';
    margin-right: 20px;
    color: #F9FCFB;

}

.navigation {
    width: 100%;
    padding: 7px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0037AE;
    position: fixed;
    z-index: 10;
    text-transform: uppercase;

}

.navigation ul {
    list-style-type: none;
    display: flex;
    Flex-direction: row;
}

.navbar li a {
    color: #F9FCFB;
    font-weight: bold;
}

.navbar li a, .button {
    text-decoration: none;
}

.navbar li a:hover, .navbar li a:active {
    color: #C84845;
}

#carat:hover, #carat:active {
    color: #C84845;
}


.nav-donate .donate-button {
    color: #0037AE;
    background-color: #F9FCFB;
    padding: 8px 14px;
    border-radius: 6px;
}

/* There is nothing here... */
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.2rem
}

h2 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.button {
    font-family: 'Montserrat', sans-serif;
}

.logo img {
    width: auto;
    height: 4em;
    display: inline-block;
    max-height: 100%;
}

.logo, .navbar {
    display: flex;
    align-items: center;
}

p {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    /* color: black; */
}

.banner {
    background-color: /*#0037AE*/ #B5C7E8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    color: /*#F9FCFB*/ #0037AE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* form 
form {
    text-align: center;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    font-family: 'Source Sans 3';

}

.sub {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
fieldset{
    border: 0;
}
.sub {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #0037AE;
    margin: 55px;
    color: #F9FCFB;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: aliceblue;
    border: 1px solid #ccc;
}

textarea {
    resize: both;
    /* Allow users to resize the textarea */
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #217dbb;
}


 /* -------------footer----------------* /

footer {
    margin: 0px;
    padding: 0px;

}

footer ul {
    list-style-type: none;
    Display: flex;
    Flex-direction: row;
}

.social-and-list2 {
    display: flex;
    justify-content: space-between;
}

#social-list li {
    margin-right: 10;
    font-size: 1.6rem;
}

#social-list li a:active i {
    filter: brightness(0%);
}

footer {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.07em
}

footer ul  {
    list-style-type: none;
    Display: flex;
    Flex-direction: row;
    padding: 10px;
}

footer li a {
    text-decoration: none;
    color: black;
}

#left-list li {
    margin-right: 10px; 
}

#list3 li {
    margin-right: 10px; 
}
#list2 li {
    margin-right: 10px; 
}

#social-list li {
    margin-right: 10px;
    font-size: 1.6rem; 
}

#social-list li a:active i {
    filter: brightness(0%); 
}

#social-list li:nth-child(1) a i{
    color: rgb(29, 161, 242); 
}

#social-list li:nth-child(2) a i {
    color: rgb(234, 54, 97);
}

#social-list li:nth-child(3) a i {
    color: rgb(44, 101, 245);
}

#social-list li:nth-child(4) a i {
    color: rgb(140, 41, 255);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
/* @media screen and (min-width: 715px) {
    
    .social-and-left-list {
        display: flex;
        justify-content: space-between;
    }

} * /
.social-and-left-list {
    display: flex;
    justify-content: space-between;
}
*/
footer {
    margin: 0px;
    padding: 0px;

}

footer ul {
    list-style-type: none;
    Display: flex;
    Flex-direction: row;
}

.social-and-list2 {
    display: flex;
    justify-content: space-between;
}

#social-list li {
    margin-right: 10px;
    font-size: 1.6rem;
}

#social-list li a:active i {
    filter: brightness(0%);
}

footer {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.07em
}

footer ul  {
    list-style-type: none;
    Display: flex;
    Flex-direction: row;
    padding: 10px;
}

footer li a {
    text-decoration: none;
    color: black;
}

#left-list li {
    margin-right: 10px; 
}

#list3 li {
    margin-right: 10px; 
}
#list2 li {
    margin-right: 10px; 
}

#social-list li {
    margin-right: 10px;
    font-size: 1.6rem; 
}

#social-list li a:active i {
    filter: brightness(0%); 
}

 #social-list li:nth-child(1) a i{
    color: rgb(29, 161, 242); 
}

#social-list li:nth-child(2) a i {
    color: rgb(234, 54, 97);
}

#social-list li:nth-child(3) a i {
    color: rgb(44, 101, 245); 
}

#social-list li:nth-child(4) a i {
    color: rgb(140, 41, 255); 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.social-and-left-list {
    display: flex;
    justify-content: space-between;
}
#submit{
    border-radius: 6px;
}
