* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  
 margin: 0;
 
 }

 html, body {
    overflow-x: hidden;
}

.headers {
    background-color: #173583;
    padding: 20px 0; 
    width: 100%; 
    color:#F9FCFB;
}


     h1 {
         font-family: 'Bebas Neue', sans-serif; 
         font-size: 2.5rem; 
         letter-spacing: 0.2rem
     }
     
     h2 {
         font-family: 'Source Sans 3', sans-serif;
         font-weight: 400;
     }
     
     h3 {
         font-family: 'Montserrat', sans-serif;
     }
     
     .button {
         font-family: 'Montserrat', sans-serif; 
     }
 
     .logo img {
     width: auto;
     height: 4em ;
     display: inline-block;
     max-height: 100%;
     }
 
     .logo, .navbar{
    display: flex;
    align-items: center;
     }
     
     .navbar li {
         font-family: 'Montserrat';
         margin-right:20px;
         color:#F9FCFB;
        
     }
 
     .navigation {
         width:100%;
         padding: 7px;
         margin:0 auto;
         display: flex;
         justify-content: space-between;
         align-items: center;
         background-color: #0037AE;
         position:fixed;
         z-index:10;
         text-transform: uppercase;
         
     }
     
     .navigation ul {
         list-style-type: none;
         display: flex;
         Flex-direction: row;
     }
 
   .navbar li a{
     color: #F9FCFB;
     font-weight: bold;
   }
 
 .navbar li a, .button{
     text-decoration: none;
 }
     .navbar li a:hover, .navbar li a:active {
         color: #C84845; 
       }
 
       #carat:hover, #carat:active {
         color: #C84845;
       }
 
 
 .nav-donate .donate-button {
         color: #0037AE;
         background-color: #F9FCFB;
         padding: 8px 14px;
         border-radius: 6px;
     }



 /* section 1  */
 
 #section1 {
     background-image:url(homepageimg.png);
     background-size: cover; 
     background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    color:#F9FCFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

#section1 h1{
    margin: 0.5em 0;
    font-size: 4rem;
    letter-spacing:5px;
}


#section1 h2 {
    letter-spacing: 3px;
  font-size: 2rem;
}

    #section1 p {
        font-family: 'Montserrat';
        letter-spacing: 3px;
        line-height:1.5;
        margin: auto;
        font-size: 1.5rem; 
        max-width: 600px;
    }
    
    .button {
        padding: 15px 15px;
        border-radius: 6px;
        display: column;
    justify-content: center; /* This will center the buttons */
    margin-left: 30px;
    margin-right:30px;
      }
      
.homepage-buttons {
    margin-top:50px;
    font-size: 20px;
}


    #get-started {
        color: #F9FCFB;
        background-color: #C84845;
    }

    #learn-more {
        background-color: #B5C7E8;
        color:#0037AE;
    }

 /* section 2  */
  #section2 {
    background-color: #D8ECEC;
    height:100vh;
}

#section2 h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 1em;
 }

.search-section {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

.search-section input[type="text"] {
    font-size: 1em; 
    padding: 8px; 
    margin-right: 5px; 
    width: 30%; 
    border: 2px solid #B5C7E8;; 
    border-radius: 7px; 
    background-color:#0037AE;
    color:#F9FCFB
  }
 .search-section button {
    padding:10px;
    background-color: #0037AE;
    border-color: #B5C7E8;
    border-radius: 7px;
 }

 .search-section .fa-magnifying-glass {
    color: gold
 }

 .search-section ::placeholder{
font-style: italic;
text-align: center;
    color:#F9FCFB
 }

 .search-section button:hover{
    background-color: #C84845; 
 }
 
 .bill-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#F9FCFB;
    padding: 4em 0;
    margin: 0 auto; 
    width: 60%;
    line-height: 2em;
    border-radius: 6px;
    height:auto;
 }

.bills { 
    list-style-position: inside;
}


 .bills li a{
font-family: 'Montserrat';
color:black;
font-size: 20px;
font-weight: bold;
 }

 .bills li a:hover {
    color: #C84845; /* Change the color to whatever you like */
  }

 #see-all-button {
    padding: 15px 15px; 
    margin-top: 30px; 
    width: 20%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 6px;
    background-color: #C84845;
    text-transform: uppercase;
    color:#F9FCFB;
    font-weight: bold;
    font-size:20px;
 }


 #get-started:hover, #learn-more:hover, .donate-button:hover, #see-all-button:hover{
    background-color: #73d1d1; 
    color:#0037AE; 
    cursor: pointer; 
  }
  

/* section 3 */
#section3 {
    background-color: #F9FCFB;
height: auto;
flex-direction: column;
    justify-content: center; /* this centers content vertically in the container */
    text-align: center; /* this centers the text lines */
    margin: auto; /* centers the section if it is not full width */
}

#section3 p {
    font-family: 'Source Serif 4';
}

#section3 .how-to li {
    font-family: 'Montserrat';
    line-height: 3em;
    font-size: 15px;
}

ol.how-to {
    list-style-type: decimal;
    padding-left: 50px;
    padding-right: 50px;
}


ol.how-to li {
    text-align: center; 
    padding: 15px 0; 
    max-width: auto; 
    margin: auto; 
}


#privacy-notice {
    background-color: #0037AE;
    color:#F9FCFB;
    font-weight: bold;
    text-align: center;
    padding: 20px;
 margin: 20px auto;
 width: 70%;
}


#sign-up {
    background-color: #C84845; 
    display: inline-block;
    color: black; 
    text-align: center; 
    padding: 20px; 
    margin: 20px auto; 
    width: 80%; 
}


/* section 5 */

#section5 {
    background-image: url(mountain.png);
    background-size:cover;
    background-position: center;
    text-align: center;
   padding: 50px 0;
    color:#F9FCFB
}

#section5 .updates-search {
    padding: 10px;
    border-radius: 6px;
    display: inline-block;
  position: relative;
}

#section5 h2 {
    font-size: 2em; 
    margin-bottom: 15px; 
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight:bold;
}


#section5 h3 {
    font-weight: lighter;
    margin-bottom: 30px;
}

#section5 ::placeholder {
    font-family: 'Montserrat';
    color:#F9FCFB
}

#section5 input[type="email"] {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    margin-right: 10px; 
    width: 300px; 
    font-family: 'Montserrat';
}

#section5 button {
    background-color:#D8ECEC;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color:#173583;
    font-family: 'Montserrat';
    cursor: pointer; 
    
}
#section5 button:hover {
    background-color: #73d1d1; 
    color: #0037AE; 
}

#news-submit{
    font-weight:bold;
}
    
 
     footer {
         margin: 0;
         padding: 0;
 
     }
     footer ul  {
         list-style-type: none;
         Display: flex;
         Flex-direction: row;
     }
     
     .social-and-list2 {
         display: flex;
         justify-content: space-between;
     }
    
     .visually-hidden {
         position: absolute;
         width: 1px;
         height: 1px;
         overflow: hidden;
         clip: rect(0, 0, 0, 0);
     }