
/* -------------------------------------------------------------------------- */
/*                                    body                                    */
/* -------------------------------------------------------------------------- */
body {
    background-color: #F9FCFB;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.6;

}
/* -------------------------------------------------------------------------- */
/*                                font families                               */
/* -------------------------------------------------------------------------- */

/* I had all the fonts commented out because they weren't loading propperly but maybe when its all tied together it will. Otherwise retyping should probably fix it. */
/* 
h1 {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 2.5rem; 
    letter-spacing: 0.2rem
}

h2 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.button {
    font-family: 'Montserrat', sans-serif; 
} */

/* -------------------------------------------------------------------------- */
/*                                   nav tag                                  */
/* -------------------------------------------------------------------------- */
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10;

}


.navigation ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* padding: 10; I added a padding of 10 just so each item wasnt right up to the edge of the page */

}
/* how I added space in between the items in the navbar
1) I'm targeting the navbar by its id, not class.
2) I made a rule for #navbar li that looks like this to space out the list items themselves and not the list
3) I'm leaving it commented out but I check and it worked for mine and its the same rule for all of the footer ones as well. You'll probably have to adjust the 10 to whatever you need to match the wireframe



#navbar li {
    margin-right: 10
}

 */

/* -------------------------------------------------------------------------- */
/*                               section 4 tips                               */
/* -------------------------------------------------------------------------- */

#section4 {
    text-align: center;
}


.section-4-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Adjust the gap as needed */
    margin: 0 15%;
}


.section-4-item {
    padding: 20px; /* Add padding for better spacing */
    background-color: #D8ECEC;
    border-radius: 4px; /* Optional: Add border radius for rounded corners */
}

.section-4-item p {
    margin: 0; /* Remove default margin for the paragraphs */  
}


/* -------------------------------------------------------------------------- */
/*                                  section 5                                 */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                         section 6 why calling works                        */
/* -------------------------------------------------------------------------- */
#section6 {
    padding: 50 0;
    text-align: center;
}

/* ---------------------------- section 6 block 1 --------------------------- */
.section-6-block-1 {
    max-width: 90%; 
    margin: 0 auto;
    padding-bottom: 30px;
}

.section-6-block-1 h2 {
    padding-bottom: 30px;
}

/* ---------------------------- section 6 block 2 --------------------------- */

.section-6-block-2{
    padding: 20 0
}

.no-matter {
    display: flex; 
    justify-content: space-between;
    gap: 20px;
    padding: 0 30;
}

#no-matter1 {
    padding: 20px; 
}

#no-matter2 {
    padding: 20px;    
}

/* ---------------------------- section 6 block 3 --------------------------- */

.section-6-block-3 {
    background-color: #0037AE;
    color: #F9FCFB;
    padding: 20px 0px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30;
}

.testimonial-item {
    /* flex: 1;
    box-sizing: border-box; */
    padding: 0 30;
}

#vox {
    text-align: left;
    max-width: 75%;
}

#nyt {
    align-self: flex-end;
    text-align: right;
    max-width: 75%;
}

#wpost {
    text-align: left;
    max-width: 75%;
}



.testimonial-logo {
    width: auto;
    height: 1.5em;
}


.testimonial-item a {
    text-decoration: none; 
    color: inherit;
}

@media (min-width: 950px) {

        .testimonials {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30;
    }

        .testimonial-item {
        flex: 1;
        box-sizing: border-box;
        padding: 0 30;
    }

}

/* -------------------------------------------------------------------------- */
/*                         section 7 who to call first                        */
/* -------------------------------------------------------------------------- */

#section7 {
    padding: 30px 0px;
}

#section7 h2 {
    text-align: center;
}

.section-7-content {
    margin: 5% 10%;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

.line {
    margin: 20;
    position: relative;
    width: 60%; /* Adjust the width of the line to fill the container */
    height: 3px; /* Adjust the height of the line */
    background-color: #0037AE; /* Adjust the color of the line */
}

.line::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 2px; /* Match the height of the line */
    background-color: #0037AE;
} 

@media (min-width: 770px) {

        .line,
        .line::after {
            display: none;
        }

        .section-7-content {
            gap: 70px;
            justify-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: 66% 33%;
        }

        .aside7 {
            align-items: stretch;
            align-self: flex-start;
            padding: 0.5em 1em;
            background-color: #0037AE;
            color: #F9FCFB;
        }

}

/* -------------------------------------------------------------------------- */
/*                              section 8 donate                              */
/* -------------------------------------------------------------------------- */

#section8 {
    padding: 2em 3em; 
    background-color: rgb(200, 72, 69);
    color: #F9FCFB;
}

#donate-today {
    position: relative;
    background-color: #b5ffff;
    border-radius: 0.15rem;
    padding: .75rem 1rem;
    font-weight: 600;
    text-align: center;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 200ms;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.donate-button{
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
}

#nonprofit-disclaimer {
    font-size: 0.6rem;
    max-width: 70%;
}

@media screen and (min-width: 1045px) {

    .donate-paragraphs {
        max-width: 70%;
    }
    
    #paragraphs-button {
        display: flex;
        justify-content: space-between;
    }
    
    .donate-button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 3em;
    }

}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

footer {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.07em
}

footer ul  {
    list-style-type: none;
    Display: flex;
    Flex-direction: row;
    padding: 10;
}

footer li a {
    text-decoration: none;
    color: black;
}

#left-list li {
    margin-right: 10; 
}

#list3 li {
    margin-right: 10; 
}

#social-list li {
    margin-right: 10; /* Adds spacing between list items */
    font-size: 1.6rem; 
}

#social-list li a:active i {
    filter: brightness(0%); 
}

#social-list li:nth-child(1) a i{
    color: rgb(29, 161, 242); /* Twitter */
}

#social-list li:nth-child(2) a i {
    color: rgb(234, 54, 97); /* Instagram */
}

#social-list li:nth-child(3) a i {
    color: rgb(44, 101, 245); /* Facebook */
}

#social-list li:nth-child(4) a i {
    color: rgb(140, 41, 255); /* GitHub */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

@media screen and (min-width: 715px) {
    
    .social-and-left-list {
        display: flex;
        justify-content: space-between;
    }

}

